<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247736794745-kbbcgf9660h94su4e45rq9t2v3h6j37v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247736794745-kbbcgf9660h94su4e45rq9t2v3h6j37v</string>
	<key>API_KEY</key>
	<string>AIzaSyA7F2XcRv_9pnU4Jis3f1YKtjF9f4dmkD4</string>
	<key>GCM_SENDER_ID</key>
	<string>247736794745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.sandylabs.panino</string>
	<key>PROJECT_ID</key>
	<string>panino-32493</string>
	<key>STORAGE_BUCKET</key>
	<string>panino-32493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247736794745:ios:856e3d43afb3b6c3be9ea8</string>
	<key>DATABASE_URL</key>
	<string>https://panino-32493.firebaseio.com</string>
</dict>
</plist>